<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="IS0-8859-2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<link rel="stylesheet" href="mystyle.css">
<body>
<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" >Welcome Back !!! <span th:text="${user.userId}"></span></a>
    </nav>
</div>

<div class="container" id="header">
    <div class="row">
        <div class="col-sm-12">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">User id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Bill</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="user:${listUser}">

                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.bill}"></td>
                </tr>
                </tbody>
            </table>


        </div>


    </div>
</div>

</body>
</html>
